<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopAfter.dao.user.userMapper">
<!-- 分页查询 -->
<resultMap type="Member" id="map1">
		<result column="Province" property="ProvinceName"/>
		<result column="City" property="CityName"/>
		<result column="District" property="DistrictName"/>
	</resultMap>
	<select id="list" resultMap="map1" >
			select  a.MemberID,a.username,a.Sex,a.`Password`,a.TrueName,a.Phonecode,a.Emails,a.PostCode,b.territoryName as Province ,c.territoryName as City,d.territoryName  as District
		from tb_member a  INNER JOIN tb_site b on a.Province = b.siteID INNER JOIN tb_site c on a.City = c. siteID 
		INNER JOIN tb_site d on a.District = d.siteID   where a.TrueName like #{TrueName} limit #{index},5
	</select>

<!-- 总数量 -->
	<select id="pagecount" resultType="int">
  	select count(MemberID) from tb_member where TrueName like #{TrueName};
	</select>
<!-- 删除 -->
<delete id="del" >
    delete from tb_member where MemberID=#{MemberID}
</delete>
<!-- 批量删除 -->
<delete id="delall" >
    delete from tb_member where MemberID in 
    <foreach collection="list" open="(" close=")" separator="," item="i">
    	${i}
    </foreach>
</delete>
<!-- 添加 -->
<insert id="insert">
	insert into tb_member(username,Sex,`Password`,TrueName,Phonecode,Emails,Province,City,District)
	value(#{username},#{Sex},#{Password},#{TrueName},#{Phonecode},#{Emails},#{Province},${City},${District})
</insert>
<!--  -->
<select id="Getlist" resultType="Member">
		select * from tb_member where  MemberID = #{MemberID}
</select>

<!-- 修改 显示数据 -->
<!-- <update id="update">
	update tb_member set username = #{username},Sex = #{Sex},`Password`=#{Password},TrueName=#{TrueName},
	Phonecode=#{Phonecode},Emails=#{Emails},Province=#{Province},City=#{City},District=#{District},Address=#{Address},
	PostCode=#{PostCode} where MemberID=#{MemberID}
</update> -->

<update id="update1">
	update tb_member 
			<trim prefix="set" prefixOverrides=",">
				<if test="username!= '' and username!=null">
					 username=#{username}
		     	</if>
		     	<if test="Sex!='' and Sex!=null">
		     		,Sex=#{Sex}
		     	</if>
		     	<if test="Password!='' and Password!=null">
		     		,Password=#{Password}
		     	</if>
		     	<if test="TrueName!='' and TrueName!=null">
		     		,TrueName=#{TrueName}
		     	</if>
		     	<if test="Phonecode!='' and Phonecode!=null">
		     		,Phonecode=#{Phonecode}
		     	</if>
		     	<if test="Emails!='' and Emails!=null">
		     		,Emails=#{Emails}
		     	</if>
		     	<if test="PostCode!='' and PostCode!=null ">
		     		,District=#{District}
		     	</if>
		     	<if test="Province!= 0 and  Province!=null ">
		     		,Province=#{Province}
		     	</if>
		     	<if test="City!= 0 and  City!=null">
		     		,City=#{City}
		     	</if>
		     	<if test="District!= 0 and District!=null ">
		     		,District=#{District}
		     	</if>
			</trim>
	 where MemberID=#{MemberID}
</update>

</mapper>